/* General Styles */
:root {
  --espresso-brown: #9226ff;
  --latte-beige: #dcc7aa;
  --mocha-chocolate: #7b22bfbb;
  --cream-white: #f5f5dc;
  --coffee-bean: #7f3bff;
  --cappuccino-foam: #fff4e6;
  --caramel-drizzle: #c68e17;
  --arabica-gold: #a67b5b;
  --rich-coffee-black: #3939ff;
  --espresso-cream: #eedfcc;
}

.opac-bg {
  background: rgb(8, 0, 19);
}

.grad-bg {
  background: rgb(236, 221, 255);
  background: -moz-linear-gradient(
    0deg,
    rgba(236, 221, 255, 1) 0%,
    rgba(195, 183, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(236, 221, 255, 1) 0%,
    rgba(195, 183, 255, 1) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(236, 221, 255, 1) 0%,
    rgba(195, 183, 255, 1) 100%
  );
}

html,
body {
  margin: 0;
  color: #333;
  font-family: "Quicksand", sans-serif;
  overflow-x: hidden;
  background: rgb(236, 221, 255);
  background: -moz-linear-gradient(
    0deg,
    rgba(236, 221, 255, 1) 0%,
    rgba(195, 183, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(236, 221, 255, 1) 0%,
    rgba(195, 183, 255, 1) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(236, 221, 255, 1) 0%,
    rgba(195, 183, 255, 1) 100%
  );
}

/* .quicksand-<uniquifier> {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

/* Header */
.header {
  color: #fff;
  /* position: fixed;
    top: 0;
    left: 0; */
  width: 100%;
  height: 10%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.container {
  width: 90%;
  margin: 0 auto;
}

/* main {
  padding-top: 120px;
} */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.nav {
  display: flex;
  gap: 0.5rem;
  list-style: none;
  padding: 0;
}

.logo {
  font-size: 1.5rem;
  font-weight: bolder;
}

.navbar a {
  text-decoration: none;
  color: white;
  margin: 0 0.5rem;
}

.navbar a:hover {
  color: var(--espresso-cream);
}

.navbar li {
  padding: 0.6rem 0;
}

.dropdown {
  position: relative;
}

.dropdown:hover .dropdown-content {
  visibility: visible;
}

.dropdown .dropdown-content {
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  list-style: none;
  padding: 0.5rem;
  background: black;
  border-left: 2px solid var(--espresso-brown);
  border-bottom: 2px solid var(--espresso-brown);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.dropdown-content:hover {
  visibility: visible;
}

.dropdown .dropdown-content li {
  padding: 0.2rem 0;
  cursor: pointer;
}

.dropdown .dropdown-content li:hover {
  background: var(--espresso-brown);
  border-radius: 5px;
  transition: 0.3s ease-out;
}

.input {
  border: 0;
  background: #000;
  border-radius: 8px;
  font-size: 14px;
  padding: 0.5rem 0.7rem;
  color: white;
  outline-color: var(--coffee-bean);
}

.input::placeholder {
  color: white;
}

.btn {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  font-size: 12px;
}

.order-btn {
  background-color: var(--espresso-brown);
  color: #fff;
}

.order-btn:hover {
  background-color: var(--coffee-bean);
  color: var(--espresso-brown);
  transition: background-color 0.3s ease;
  transform: translateY(-2px);
  transition: transform 0.3s;
  transform: translateY(-1px);
  transition: background-color 0.3s ease;
  transition: transform 0.3s;
  transform: translateY(0);
  transition: background-color 0.3s ease;
  transition: transform 0.3s;
  box-shadow: #323232 1px 1px rgba(1, 1, 1, 1);
  transition: box-shadow 0.3s;
}

.order-btn:focus {
  outline: none;
}
.content {
  flex: 1;
}

/* Hero Section */
.hero {
  display: flex;
}

.content {
  flex: 1;
}

.content h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.content p {
  margin-bottom: 1rem;
  line-height: 1;
}

.rating {
  margin-bottom: 1rem;
  font-size: 1rem;
}

.cta {
  display: flex;
  gap: 2rem;
  padding-left: 20px;
}

.primary-btn {
  background-color: #5a2a27;
  color: #fff;
}

.secondary-btn {
  background-color: #f4f4f4;
  border: 1px solid #ccc;
}

.images {
  flex: 1;
}

.main-image img {
  width: 100%;
  border-radius: 10px;
}

.main-image:hover,
.thumbnails img:hover {
  transform: scale(1.02);
  transition: transform 0.8s;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
}

.thumbnails img {
  width: 30%;
  margin: 0.5rem;
  border-radius: 5px;
}

.hero {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 2rem;
  gap: 20px;
}

.content {
  min-width: 300px;
}

.content h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.content p {
  margin-bottom: 1rem;
  line-height: 1.5;
}

.rating {
  margin-bottom: 1rem;
  font-size: 1rem;
}

.cta {
  display: flex;
  gap: 1rem;
}

.primary-btn {
  background-color: var(--coffee-bean);
  color: #fff;
}

.secondary-btn {
  background-color: #f4f4f4;
  border: 1px solid #ccc;
}

.cart-btn {
  position: fixed;
  bottom: 16px;
  right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--espresso-brown);
  border: 0;
  outline: none;
  transition: 0.3s ease-out;
  cursor: pointer;

  &:hover {
    transform: scale(1.1, 1.1);
  }
}

.cart-btn img {
  width: 20px;
  filter: invert();
}

.images {
  min-width: 350px;
  text-align: center;
}

.main-image img {
  width: 100%;
  border-radius: 10px;
}

.thumbnails img {
  width: 30%;
  margin: 0.5rem;
  border-radius: 5px;
}

/* Footer */
.footer {
  color: #fff;
  text-align: center;
  font-size: 2rem;
  padding: 2rem;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.social-icons a {
  color: var(--cappuccino-foam);
  margin: 0 5px;
  text-decoration: none;
}

.social-icons :hover {
  color: #dcc7aa;
  transform: scale(1.01);
}

.wrapper {
  --input-focus: var(--coffee-bean);
  --font-color: var(--cream-white);
  --font-color-sub: var(--cream-white);
  --bg-color: var(--rich-coffee-black);
  --bg-color-alt: var(--espresso-brown);
  --main-color: var(--arabica-gold);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3rem;
  border-radius: 20px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.switch {
  transform: translateY(-200px);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 50px;
  height: 20px;
}

.card-side::before {
  position: absolute;
  content: "Log in";
  left: -70px;
  top: 0;
  width: 100px;
  text-decoration: underline;
  color: var(--font-color);
  font-weight: 600;
}

.card-side::after {
  position: absolute;
  content: "Sign up";
  left: 70px;
  top: 0;
  width: 100px;
  text-decoration: none;
  color: var(--font-color);
  font-weight: 600;
}

.toggle {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  box-sizing: border-box;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--bg-color);
  transition: 0.3s;
}

.slider:before {
  box-sizing: border-box;
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  border: 2px solid var(--main-color);
  border-radius: 5px;
  left: -2px;
  bottom: 2px;
  background-color: var(--bg-color);
  box-shadow: 0 3px 0 var(--main-color);
  transition: 0.3s;
}

.toggle:checked + .slider {
  background-color: var(--input-focus);
}

.toggle:checked + .slider:before {
  transform: translateX(30px);
}

.toggle:checked ~ .card-side:before {
  text-decoration: none;
}

.toggle:checked ~ .card-side:after {
  text-decoration: underline;
}

.flip-card__inner {
  width: 300px;
  height: 350px;
  position: relative;
  background-color: transparent;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.toggle:checked ~ .flip-card__inner {
  transform: rotateY(180deg);
}

.flip-card__front,
.flip-card__back {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background: rgba(59, 47, 47, 0.9);
  gap: 20px;
  border-radius: 20px;
  width: 100%;
}

.flip-card__back {
  transform: rotateY(180deg);
}

.flip-card__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  padding-bottom: 1rem;
}

.cart-items {
  position: fixed;
  top: 50%;
  transform: translateY(-55%);
  right: -100%;
  transition: 0.8s ease-out;
  background: #000000d3;
  box-shadow: #000 1px 1px 1px rgba(0, 1, 0, 1);
  padding: 2rem;
  height: 80vh;
  max-height: 80vh;
  overflow-y: scroll;
  color: white;
  width: 75%;
  max-width: 440px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: 1px solid var(--espresso-brown);
  border-right: 0;
}

.cart-panel-back {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--cappuccino-foam);
  z-index: -1;
}

.cart-items h2 {
  margin-top: 2rem;
}

.cart-items div {
  margin-bottom: 1rem;
}

.cart-items #btn-close-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 0;
  outline: none;
  background: transparent;
  font-weight: bolder;
  cursor: pointer;
  transition: 0.3s ease;
  margin: 5px;
  float: right;
  color: white;
}

.cart-items #btn-close-panel:hover {
  background: var(--espresso-brown);
}

#cart-items {
  padding: 0;
  list-style: none;
}

#cart-items li {
  background: var(--cappuccino-foam);
  padding: 0.5rem 0.2rem;
  border-radius: 6px;
}
